/* .texto{
    font-size: 2rem;
    text
} */

@media (max-width: 576px){
    .imagens {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        gap: 10px;
        padding: 10px;
        box-sizing:border-box;
        width: 100%;
    }

    .imagemFigura{
        width: 100%;
        max-width: 90px;
        margin: 5px auto;
        object-fit: contain;
    }
}

.imagemFigura{
    width: 150px;
    margin: 10px;
    height: auto;
    object-fit: contain;
}


.imagemAcerto{
    border: 4px solid green;
    border-radius: 10px;
}

.imagemErro{
    border: 4px solid red;
    border-radius: 10px;
}

/* Cor do fundo da div onde está os botões */
.bg-azulRei {
    background-color: #c4ffeb;
}

/* Card com limite de largura e controle de overflow */
.card {
    max-width: 100%;
    overflow: hidden;
}