asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
Django==5.2.6
djangorestframework==3.16.1
gTTS==2.5.4
idna==3.10
pydub==0.25.1
requests==2.32.5
sqlparse==0.5.3
urllib3==2.5.0
pyaudioop
