{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/desafio1.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Desafio 1</title>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.4/dist/howler.min.js"></script>
</head>
<body class="bg-info-subtle">
    <div class="container-fluid">
        <header>
            <div class="m-3">
                <div class="p-3">
                
                    <!-- Linha 1: Botão Reproduzir + Botão Voltar -->
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <!-- Botão Reproduzir -->
                        <button type="button" class="reproduzir" data-texto="O Senhor Manoel precisa abastecer sua barraca na feira livre, ele percebeu que precisava compra a metade da quantidade que tem de laranjas.">
                            <i class="fs-3 text-primary bi bi-mic-fill"></i>
                        </button>
                
                        <!-- Botão Voltar -->
                        <div class="d-flex align-items-center">
                            <button type="button" class="reproduzir" data-texto="Clique no link para voltar para a tela das trilhas">
                                <i class="fs-3 text-primary bi bi-mic-fill"></i>
                            </button>
                        
                            <a href="{% url 'indexAPiView' %}" class="text-decoration-none" style="color: darkblue;">
                                Voltar
                            </a>
                        </div>
                    </div>
                
                    <!-- Linha 2: Título -->
                    <h1 class="mb-0" style="color:#002b5c;">
                        O Senhor Manoel precisa abastecer sua barraca na feira livre, ele percebeu que precisava comprar
                        a metade da quantidade que tem de laranjas.
                    </h1>
                
                </div>
                
                <div class="position-relative d-flex justify-content-center align-items-start p3 flex-column flex-md-row">

                    <button type="button" class="reproduzir mt-3 mt-sm-0" data-texto="Sabendo que na barraca de Senhor Manoel tem 12 laranjas que é igual a uma dúzia.">
                        <i class="fs-3 text-primary bi bi-mic-fill"></i>
                    </button>

                    <h3 class="mt-3 mb-3 text-primary">
                        Sabendo que na barraca de Senhor Manoel tem 12 laranjas que é igual a 1 dúzia.
                    </h3>
                </div>
                
            </div>
            
        </header>
    
        <main>
            <div class="container mt-4">
                <div class="row align-items-center text-center">
            
                    <!-- Imagem -->
                    <div class="col-md-4">
                        <div class="position-relative d-flex justify-content-center align-items-start p3 flex-column flex-md-row">
                            
                            <button type="button" class="reproduzir" data-texto="Barraca do Senhor Manoel">
                                <i class="fs-3 text-primary bi bi-mic-fill"></i>
                            </button>
                            
                            <p class="paragrafo3 fw-medium">Barraca do Senhor Manoel</p>
                        
                        </div>
                        
                        <img id="Fotolaranja" src="{% static 'image/desafio/quantidadeLaranjas.png' %}"
                            alt="Imagem de duas laranjas" class="img-fluid bg-white">
                    </div>
            
                    <!-- Inputs -->
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="position-relative d-flex justify-content-center align-items-start p3 flex-column flex-md-row">
                                    
                                    <button type="button" class="reproduzir mt-5 mt-sm-0" data-texto="Quanto que é uma dúzia vezes 2 ?. Coloque a resposta nesse quadradinho branco">
                                        <i class="fs-3 text-primary bi bi-mic-fill"></i>
                                    </button>

                                    <p class="paragrafo1 fw-medium mt-3 mb-3">Quanto que é uma dúzia vezes 2 ?</p>

                                </div>
                                
                                <input class="w-75 border border-primary" type="number" id="desafio_input1">
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative d-flex justify-content-center align-items-start p3 flex-column flex-md-row">
                                
                                    <button type="button" class="reproduzir mt-5 mt-sm-0"
                                        data-texto="Quanto que é uma dúzia vezes 2 dividido por 2 ?. Coloque a resposta nesse quadradinho branco">
                                        <i class="fs-3 text-primary bi bi-mic-fill"></i>
                                    </button>
                                
                                    <p class="paragrafo2 fw-medium mt-3 mb-3">Quanto que é uma dúzia vezes 2 dividido por 2 ?</p>
                                
                                </div>
                                
                                <input class="w-75 border border-primary" type="number" id="desafio_input2">
                            </div>
                        </div>
                    </div>
            
                </div>
            
                <!-- Botão abaixo dos inputs -->
                <div class="row mt-4 d-none d-lg-block">
                    <div class="col d-flex justify-content-end p-0 mb-3">
                
                        <!-- Botão de áudio -->
                        <button type="button" class="reproduzir h-50" data-texto="Clique no botão para avançar para a trilha conhecendo a família sílabica">
                            <i class="fs-3 text-primary bi bi-mic-fill"></i>
                        </button>
                
                        <!-- Botão Avançar -->
                        <a href="{% url 'indexAPiView' %}" class="btn text-white fw-bold text-decoration-none text-center"
                            style="background-color: #058002; width: 200px;">
                            <i class="bi bi-arrow-right fs-1"></i><br>
                            Avançar
                        </a>
                
                    </div>
                </div>
            </div>


            <!-- Botão em telas médias -->
            <div class="row mt-1 d-none d-md-flex d-lg-none">
                <div class="col d-flex justify-content-end p-0 mb-3">
            
                    <!-- Botão de áudio -->
                    <button type="button" class="reproduzir h-50"
                        data-texto="Clique no botão para avançar para a trilha conhecendo a família sílabica">
                        <i class="fs-3 text-primary bi bi-mic-fill"></i>
                    </button>
            
                    <!-- Botão Avançar -->
                    <a href="{% url 'indexAPiView' %}" class="btn text-white fw-bold text-decoration-none text-center"
                        style="background-color: #058002; width: 200px;">
                        <i class="bi bi-arrow-right fs-1"></i><br>
                        Avançar
                    </a>
            
                </div>
            </div>
            
            <!-- botão em telas pequenas -->
            <div class="d-flex d-lg-none d-md-none justify-content-center">
                <div class="row justify-content-center mt-3">
                    <div class="col-12 col-md-6 d-flex justify-content-center">

                        <button type="button" class="reproduzir mt-5" data-texto="Clique no botão para avançar para a trilha conhecendo a família sílabica" style="height: 40px;">
                            <i class="fs-3 text-primary bi bi-mic-fill"></i>
                        </button>
                        
                        <a href="{% url 'indexAPiView' %}" class="btn text-white fw-bold text-decoration-none text-center"
                            style="background-color: #058002;">
                            <i class="bi bi-arrow-right fs-1"></i><br>
                            Avançar
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script src="{% static 'js/javaScriptGenerico/principal.js' %}"></script>
    <script src="{% static 'js/desafio/desafio1.js' %}"></script>
</body>
</html>